@import url(slides.css);
@import url(boundless.css);

.slides > article
{
	color: rgb(102, 102, 102);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	font-size: 1em;
	line-height: 1.2em;
	letter-spacing: -1px;
}

/* title page */
.slides > article.level-1
{
	color: white;
	background-image: url("cover.png");
	background-repeat: no-repeat;
	background-color: #2A728E;
}

.slides > article.level-1 > p > code { color: white; }

/* section page */
.slides > article.level-2
{
	color: white;
	background-image: url("backgroundblueslide.png"), url("backgroundblue.png");
	background-repeat: no-repeat, repeat;
	background-size: 80%, 50%;
	background-position: center;
	background-color: #2A728E;
}

.slides > article.level-2 h2
{
	color: white;
	margin-top: 0px;
	margin: 250px 50px 0px 50px;
}

.slides > article.level-2 p
{
	color: white;
	margin: 20px 50px 0px 50px;
}

.slides > article.level-2 > code { color: white; }
